<!DOCTYPE html>
<html>

<head>
<title>{{title}}</title>
<meta charset="utf-8" />
</head>
<body >
<h3 >{{title}}</h3>
<h3>{{getName()}}'s To Do List</h3>
<div>
  <input #todoText />
  <button (click)="addItem(todoText.value)">
    Add
  </button>
</div>
<table>
  <thead>
    <tr>
      <th>n</th>
      <th>Description</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItems(); let i = index">
      <app-todo [item]="item" [i]="i"></app-todo>
    </tr>
  </tbody>
</table>
</body>

</html>